doctype html
html
  head
    meta(charset='UTF-8')
    title TutorABC 監控牆面
    link(rel='stylesheet', href='assets/css/normalize.css')
    link(rel='stylesheet', href='assets/css/app.css')
  body
    h1(style="font-size: 60em;line-height: 1em;") 咳