doctype html
html
  head
    meta(charset='UTF-8')
    title TutorABC 監控牆面
    link(rel='stylesheet', href='assets/css/normalize.css')
    link(rel='stylesheet', href='assets/css/app.css')
  body
    #typed.info
    #container
    script(src='assets/js/3rdparty/three.min.js')
    script(src='assets/js/3rdparty/extras.js')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
    script(src='assets/js/3rdparty/typed.js', type='text/javascript')
    script.
      $(function() {
      $(".info").typed({
      strings: ["TutorABC.", "無人大廳"],
      typeSpeed: 100
      });
      });
    script(src='assets/js/index.js')