html {
  background: black;
  height: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 10;
}

canvas {
  animation: in 2s cubic-bezier(0.23, 1, 0.32, 1) 0.25s backwards;
  background: transparent;
  position: absolute;
}

@keyframes in {
  from {
    opacity: 0;
  }
}

#typed {
  position: absolute;
  top: 0;
  z-index: 9999;
  color: #fff;
}

#container {
  position: absolute;
  top: 0;
}
